<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Youtube Song Importer</title>

    <!-- === BOOTSTRAP === -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- === VUE JS === -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- === AXIOS === -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style type="text/css">
        body {
            background: #031927;
            color: #95c2de;
        }
        .welcome {
            margin-top: 3%;
            margin-left: 40%;
            margin-bottom: 5%;
        }
        .welcome-message {
            color: #C8E0F4;

        }
        .welcome-message-url:link {
            color: #C8E0F4;
        }
        .welcome-message-url:visited {
            color: #C8E0F4;

        }
        .welcome-message-url:hover {
            color: #C8E0F4;
            text-decoration: none;

        }
        .welcome-message-url:active {
            color: #C8E0F4;
        }
        .input {
            margin-top: 10pt;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="welcome">
            <h4 class="welcome-message"><a class="welcome-message-url" href="/dashboard">Yt Song Importer</a></h4>
        </div>
        <div class="container">
            <div class="container">
                <form>
                    <div class="col-auto my-1">
                        <div class="input">
                            <label>Pick your youtube playlist that you want to transfer:</label>
                            <select class="custom-select mr-sm-2" id="inlineFormYoutubeSelect" v-model="selectedYoutubePlaylist">
                                <option disabled selected>Pick playlist</option>
                                <option v-for="playlist in youtubePlaylists" v-bind:key="playlist.playlistId" v-bind:value="playlist">{{playlist.playlistTitle}} - {{playlist.channelTitle}}</option>
                            </select>
                        </div>

                        <div class="input">
                            <label>Choose in which playlist on spotify you want to transfer your songs:</label>
                            <input class="custom-select mr-sm-2" list="inlineFormSpotifySelect" v-model="selectedSpotifyPlaylist"/>
                            <datalist id="inlineFormSpotifySelect">
                                <option value="New imported playlist">Create new playlist</option>
                                <option v-for="playlist in spotifyPlaylists" v-bind:key="playlist.id" v-bind:value="playlist.name">{{playlist.name}}</option>
                            </datalist>
                        </div>

                        <div class="input">
                            <button @click="transferPlaylist($event)" class="btn btn-outline-light">TRANSFER</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script type="application/javascript" th:inline="javascript">
        let vue = new Vue({
            el: '#app',
            data: {
                youtubePlaylists: [[${YOUTUBE_PLAYLISTS}]],
                selectedYoutubePlaylist: '',
                spotifyPlaylists: [[${SPOTIFY_PLAYLISTS}]],
                selectedSpotifyPlaylist: ''
            },
            methods: {
                transferPlaylist(event) {
                    event.preventDefault();

                    let spotifyPlaylist = this.getSelectedSpotifyPlaylist()[0];
                    console.log(spotifyPlaylist);

                    if (spotifyPlaylist !== undefined) {
                        axios.put('/me/transfer/submit',
                        {
                            spotifyPlaylistId: spotifyPlaylist.id,
                            spotifyPlaylistName: spotifyPlaylist.name,
                            spotifyPlaylistUri: spotifyPlaylist.uri,
                            youtubePlaylistId: this.selectedYoutubePlaylist.playlistId,
                            youtubePlaylistTitle: this.selectedYoutubePlaylist.playlistTitle,
                            youtubePlaylistCreatorChannelId: this.selectedYoutubePlaylist.channelId,
                            youtubePlaylistCreatorChannelTitle: this.selectedYoutubePlaylist.channelTitle
                        }
                        ).then(response => {
                            console.log(response);
                        }, error => {
                            console.log(error);
                        });
                    } else {
                        let spotifyPlaylist = {
                            id: null,
                            name: this.selectedSpotifyPlaylist,
                            uri: null
                        };

                        console.log(spotifyPlaylist);
                        axios.post('/me/transfer/submit',
                        {
                            spotifyPlaylistId: spotifyPlaylist.id,
                            spotifyPlaylistName: spotifyPlaylist.name,
                            spotifyPlaylistUri: spotifyPlaylist.uri,
                            youtubePlaylistId: this.selectedYoutubePlaylist.playlistId,
                            youtubePlaylistTitle: this.selectedYoutubePlaylist.playlistTitle,
                            youtubePlaylistCreatorChannelId: this.selectedYoutubePlaylist.channelId,
                            youtubePlaylistCreatorChannelTitle: this.selectedYoutubePlaylist.channelTitle
                        }
                        ).then(response => {
                            console.log(response);
                        }, error => {
                            console.log(error);
                        });
                    }
                },
                getSelectedSpotifyPlaylist() {
                    return this.spotifyPlaylists.filter(e => {
                        if (e.name === this.selectedSpotifyPlaylist) return e;
                    });
                }
            }
        });
    </script>
</body>
</html>